Source: tpm2sh
Section: utils
Priority: optional
Maintainer: Jarkko Sakkinen <jarkko@kernel.org>
Build-Depends:
 debhelper-compat (= 13),
 dh-cargo (>= 25),
 cargo,
 rustc (>= 1.81),
 pkg-config,
 libssl-dev
Standards-Version: 4.7.2
Rules-Requires-Root: no
Homepage: https://git.kernel.org/pub/scm/linux/kernel/git/jarkko/tpm2sh.git

Package: tpm2sh
Architecture: any
Depends: ${misc:Depends}, libc6 (>= 2.34)
Description: TPM 2.0 shell
 tpm2sh is a command-line tool for accessing TPM 2.0 devices.
 It provides a virtual memory manager for sharing key, sealed object,
 and session resources across multiple commands, simplifying the management
 of transient TPM objects.
Homepage: https://git.kernel.org/pub/scm/linux/kernel/git/jarkko/tpm2sh.git/about/?h=main
